
#sidebar-menu > ul > li > a {
  padding: 12px 15px;
}
.tab-pane .row .col-sm-3 .call-dtlbox {
  padding: 15px 20px 15px 70px;
  border: none;
  border-radius: 20px;
  position: relative;
}
.tab-pane .row .col-sm-3:nth-child(1) .call-dtlbox {
  /* background-color: #fff4de; */
  background: linear-gradient(45deg,#ff5370,#ff869a);
}
.tab-pane .row .col-sm-3:nth-child(1) .call-dtlbox input {
    height: 39px;
    padding-left: 12px;
}
.tab-pane .row .col-sm-3:nth-child(2) .call-dtlbox,
.tab-pane .row .col-sm-3:nth-child(2) .call-dtlbox input {
  /* background-color: #e1f0ff; */
  background: linear-gradient(45deg,#03a9f4,#59e0c5);
}
.tab-pane .row .col-sm-3:nth-child(3) .call-dtlbox,
.tab-pane .row .col-sm-3:nth-child(3) .call-dtlbox input {
  /* background-color: #c9f7f5; */
  background: linear-gradient(45deg,#00968899,#59e0c5);
}

.tab-pane .row .col-sm-3 .call-dtlbox:before {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 50px;
  height: 50px;
  background-size: 50px;
  background-position: center;
  content: "";
  transform: translateY(-50%);
}

.tab-pane .row .col-sm-3:nth-child(1) .call-dtlbox:before {
  background-image: url(../../assets/images/user.png);
}
.tab-pane .row .col-sm-3:nth-child(2) .call-dtlbox:before {
  background-image: url(../../assets/images/results.png);
}
.tab-pane .row .col-sm-3:nth-child(3) .call-dtlbox:before {
    background-image: url(../../assets/images/headset.png);
  }
  .tab-pane .row .col-sm-3 .call-dtlbox label {
      text-transform: uppercase;
      color: #fff;
  }
  .tab-pane .card .card-body {
      padding-left: 0;
      padding-right: 0;
  }
  .tab-pane .col-lg-12 .card .table-striped tbody tr:nth-of-type(odd) {
    background-color: #ffffff;
}
.tab-pane .col-lg-12 .card table,.tab-pane .col-lg-12 .card th,.tab-pane .col-lg-12 .card td {
    border: none;
    border-bottom: 1px solid #6c757d38;
}
.tab-pane .col-lg-12 .card table {
    border: 1px solid #6c757d38;

}

.tab-pane .col-lg-12 .card .table th,.tab-pane .col-lg-12 .card .table td {
    padding: 1rem .75rem;
}
input#tofrom {
  background: linear-gradient(45deg,#2ed8b6,#59e0c5) !important;
          border: 1px solid #fff !important;
          color: #fff;
      }

.content-page .page-title {
  
    background-color: #fff;
    /* box-shadow: 0 2px 3px 0 rgb(0 0 0 / 18%); */
    /* margin: 16px -4px; */
    margin-bottom: 15px;
}
.content-page .page-title h4 {
    margin-bottom: 0 !important;
}
.content-page .col-lg-3 .card {
  border: none;
  border-radius: 20px;
  position: relative;
  
}

.content-page .col-lg-3 .card .card-body center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}
.content-page .col-lg-3 .card .card-body center p {
    margin-bottom: 0;
}

.content-page .col-lg-3:nth-child(1) .card {
 
  background: linear-gradient(45deg,#03a9f4,#59e0c5);
}
.content-page .col-lg-3:nth-child(2) .card {
  background: linear-gradient(45deg,#ff5370,#ff869a)
  
}
.content-page .col-lg-3:nth-child(3) .card {
  background:linear-gradient(45deg,#bc00dcde,#9c27b073);
}
.content-page .col-lg-3:nth-child(4) .card {
  
  background: linear-gradient(45deg,#00968899,#59e0c5);
}

.content-page .col-lg-3:nth-child(5) .card {
background: linear-gradient(45deg,#4099ff,#73b4ff);
}
.content-page .col-lg-3:nth-child(6) .card {
  background: linear-gradient(45deg,#2ed8b6,#59e0c5);
  }
  .content-page .col-lg-3:nth-child(7) .card {
      background: linear-gradient(45deg,#ffb64d,#ffcb80)
      }
      .content-page .col-lg-3:nth-child(8) .card {
          background: linear-gradient(45deg,#ff5370,#ff869a)
          }



.call-img {
    width: 20px;
    margin-right: 5px;
}
ul#pills-tab li.nav-item {
    margin-right: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.nav-pills {
    background-color: #fff;
}
ul#pills-tab li.nav-item a {
  border-radius: 10px;
}
ul#pills-tab li.nav-item a {
  border-radius: 10px !important;
}
.col-lg-12.card.card-body {
  margin: 13px;
}
/* .left-side-menu {
  background: linear-gradient(45deg,#1488cc,#2b32b2) !important;
}
#sidebar-menu>ul>li>a,#sidebar-menu>ul>li>a svg,#sidebar-menu .menu-title {
  color: #fff;
} */

#sidebar-menu>ul>li>a.active {
  border-left: 3px solid #5369f8;
  color: #ffffff;
  background-color: #5369f8;
}
#sidebar-menu > ul > li > a.active svg,#sidebar-menu>ul>li>a:hover svg,#sidebar-menu>ul>li>a:focus svg {
  color: #fff;
}

#sidebar-menu>ul>li>a:active, #sidebar-menu>ul>li>a:focus, #sidebar-menu>ul>li>a:hover {
  border-left: 3px solid #5369f8;
  color: #ffffff;
  background-color: #5369f8;
}

/* 04_06 */
/* .btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle {
background-color: #5369f8;
color: #fff;
border-color: #5369f8;
} */
#filterLeads button {
margin: 0 10px 10px 0;
font-size: 1rem;
}
/* .select2-container .select2-selection--single {
background: #5369f8;
} */
/* .select2-container .select2-selection--single .select2-selection__rendered {
color: #fff;
} */
.select2-container .select2-selection--single .select2-selection__arrow b {
border-color: #ffffff transparent transparent transparent;
}
.table-striped tbody tr:nth-of-type(odd),.table-striped tbody tr:nth-of-type(even) {
background-color: #ffffff;
}
.breadcrumb .btn-primary {
border-radius: 50%;
  width: 50px;
  height: 50px;
}

.lead-breadcrumb {
display: flex;
align-items: center;
justify-content: space-between;
flex-direction: row-reverse;
}
i.fa.fa-phone {
color: #5369f8;
}
/* #checkbox-form table tr {
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
} */
.table-striped tbody tr td {
border-bottom: 12px solid #f0f8ff;
}
.table-hover tbody tr:hover {
background-color: #fff;
}
#checkbox-form {
background-color: aliceblue;
padding: 20px 10px;
}
#checkbox-form button {
background-color: #5369f8;
  color: #fff;
}
.navbar .logo-lg img {
max-width: 180px;
height: auto;
}
#FollowUpFil button {
margin: 0 10px 10px 0;
}
.myfollowup_section {
display: flex;
align-items: center;
justify-content: space-between;
flex-direction: row-reverse;
}

/* 07-06-21 */
#filterLeads .all_lead_btn button {
color: #fff;
}
#filterLeads .all_lead_btn button:nth-child(1) {
 
background: linear-gradient(45deg,#03a9f4,#59e0c5);
}
#filterLeads .all_lead_btn button:nth-child(2) {
background: linear-gradient(45deg,#ff5370,#ff869a)

}
#filterLeads .all_lead_btn button:nth-child(3) {
background:linear-gradient(45deg,#bc00dcde,#9c27b073);
}
#filterLeads .all_lead_btn button:nth-child(4){

background: linear-gradient(45deg,#00968899,#59e0c5);
}

#filterLeads .all_lead_btn button:nth-child(5) {
background: linear-gradient(45deg,#4099ff,#73b4ff);
}
#filterLeads .all_lead_btn button:nth-child(6) {
background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}
#filterLeads .all_lead_btn button:nth-child(7) {
    background: linear-gradient(45deg,#ffb64d,#ffcb80);
    }
    #filterLeads .all_lead_btn button:nth-child(8) {
        background: linear-gradient(45deg,#ff5370,#ff869a);
        }
        #filterLeads .all_lead_btn button:nth-child(9) {
          background: linear-gradient(45deg,#ffb64d,#ffcb80);
          }
          #filterLeads .all_lead_btn button:nth-child(10) {
            background: linear-gradient(45deg,#4099ff,#73b4ff);
              }